body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:32px;
  width:192px;
  height:68px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:68px;
}
#u1 {
  position:absolute;
  left:2px;
  top:26px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:47px;
  width:120px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:130px;
  width:686px;
  height:284px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:284px;
}
#u5 {
  position:absolute;
  left:2px;
  top:134px;
  width:682px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:748px;
  width:65px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:50px;
  top:462px;
  width:218px;
  height:226px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:226px;
}
#u9 {
  position:absolute;
  left:2px;
  top:105px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:284px;
  top:462px;
  width:218px;
  height:226px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:226px;
}
#u11 {
  position:absolute;
  left:2px;
  top:105px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:750px;
  top:130px;
  width:300px;
  height:284px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:284px;
}
#u13 {
  position:absolute;
  left:2px;
  top:134px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:799px;
  top:194px;
  width:112px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:820px;
  top:242px;
  width:112px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:841px;
  top:289px;
  width:112px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:865px;
  top:332px;
  width:112px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:774px;
  top:150px;
  width:97px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:59px;
  top:428px;
  width:65px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:763px;
  top:428px;
  width:81px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:750px;
  top:462px;
  width:300px;
  height:276px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u29 {
  position:absolute;
  left:2px;
  top:130px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:764px;
  top:479px;
  width:136px;
  height:19px;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:59px;
  top:698px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:298px;
  top:698px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:518px;
  top:462px;
  width:218px;
  height:226px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:226px;
}
#u37 {
  position:absolute;
  left:2px;
  top:105px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:531px;
  top:698px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:910px;
  top:479px;
  width:136px;
  height:19px;
  font-size:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:66px;
  width:96px;
  height:34px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:599px;
  top:66px;
  width:96px;
  height:34px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:694px;
  top:66px;
  width:96px;
  height:34px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:504px;
  top:66px;
  width:96px;
  height:34px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:81px;
  top:12px;
  width:92px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:923px;
  top:12px;
  width:27px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:861px;
  top:12px;
  width:27px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
