<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xwtech.uomp.base.dao.content.ContentDocMapper">
    <resultMap id="BaseResultMap" type="com.xwtech.uomp.base.pojo.content.ContentDocBean">
        <id column="F_DOC_ID" property="docId" jdbcType="DECIMAL"/>
        <result column="F_CHAN_ID" property="chanId" jdbcType="DECIMAL"/>
        <result column="F_TYPE" property="type" jdbcType="CHAR"/>
        <result column="F_TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="F_SHOWTITLE" property="showtitle" jdbcType="VARCHAR"/>
        <result column="F_SUBHEAD" property="subhead" jdbcType="VARCHAR"/>
        <result column="F_AUTHOR" property="author" jdbcType="VARCHAR"/>
        <result column="F_SUMMARY" property="summary" jdbcType="VARCHAR"/>
        <result column="F_URL" property="url" jdbcType="VARCHAR"/>
        <result column="F_WRITE_TIME" property="writeTime" jdbcType="DATE"/>
        <result column="F_LEVEL" property="level" jdbcType="DECIMAL"/>
        <result column="F_LOGO" property="logo" jdbcType="VARCHAR"/>
        <result column="F_VERSION_DESC" property="versionDesc" jdbcType="VARCHAR"/>
        <result column="F_USE_DESC" property="useDesc" jdbcType="VARCHAR"/>
        <result column="F_FEE_STANDARD" property="feeStandard" jdbcType="VARCHAR"/>
        <result column="F_BUSI_NAME" property="busiName" jdbcType="VARCHAR"/>
        <result column="F_BUSI_NUM" property="busiNum" jdbcType="VARCHAR"/>
        <result column="F_BUSI_INTRO" property="busiIntro" jdbcType="VARCHAR"/>
        <result column="F_BUSI_FEE" property="busiFee" jdbcType="VARCHAR"/>
        <result column="F_BUSI_OLDFEE" property="busiOldfee" jdbcType="VARCHAR"/>
        <result column="F_BAND_NAME" property="bandName" jdbcType="VARCHAR"/>
        <result column="F_AREA_NAME" property="areaName" jdbcType="VARCHAR"/>
        <result column="F_BUSI_URL" property="busiUrl" jdbcType="VARCHAR"/>
        <result column="F_SORT_NUM" property="sortNum" jdbcType="DECIMAL"/>
        <result column="F_STATE" property="state" jdbcType="CHAR"/>
        <result column="F_CREATER" property="creater" jdbcType="VARCHAR"/>
        <result column="F_CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="F_UPDATER" property="updater" jdbcType="VARCHAR"/>
        <result column="F_UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="F_AUDITOR" property="auditor" jdbcType="VARCHAR"/>
        <result column="F_AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="F_SIZE" property="size" jdbcType="VARCHAR"/>
        <result column="F_CONTENT" property="content" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap id="ResultMapWithAttach" type="com.xwtech.uomp.base.pojo.content.ContentDocBean" extends="BaseResultMap" >
    <collection property="contentAttachmentBeanList" column="F_DOC_ID" javaType="java.util.List" 
	ofType="com.xwtech.uomp.base.pojo.content.ContentAttachmentBean" select="getAttachById"/>
  </resultMap>
  
   <resultMap id="AttachBaseResultMap" type="com.xwtech.uomp.base.pojo.content.ContentAttachmentBean" >
    <id column="F_ATTACH_ID" property="attachId" jdbcType="DECIMAL" />
    <result column="F_DOC_ID" property="docId" jdbcType="DECIMAL" />
    <result column="F_ATTACH_NAME" property="attachName" jdbcType="VARCHAR" />
    <result column="F_TYPE" property="type" jdbcType="CHAR" />
    <result column="F_ATTACH_DIR" property="attachDir" jdbcType="VARCHAR" />
    <result column="F_ATTACH_URL" property="attachUrl" jdbcType="VARCHAR" />
    <result column="F_INTERFACE_DIR" property="interfaceDir" jdbcType="VARCHAR" />
  </resultMap>
<select id="getAttachById" resultMap="AttachBaseResultMap" >  
        select * from t_content_attachment where F_DOC_ID=#{docId}
    </select>  
    <!-- 获取频道下所有可发布内容 -->
    <select id="queryContentDocsByChanIds" resultType="java.util.Map" parameterType="java.util.Map">
        select a.f_doc_id, a.f_chan_id, b.f_channel_num, b.f_depository, b.f_detail_tmp,b.f_detail_tmp2
        from T_CONTENT_DOC a, T_CONTENT_CHANNEL b
        where a.f_chan_id = b.f_chan_id
        and a.f_type != '3'
        and a.f_state = '1'
        and a.f_chan_id in
        <foreach item="item" index="index" collection="chanIds" open="(" separator="," close=")">#{item}</foreach>
        and b.f_state = '0'
        and (b.f_detail_tmp is not null or b.f_detail_tmp2 is not null)
        order by a.f_chan_id
    </select>
    <!-- -start -->
    <!--查询频道下所有可用内容 -->
    <select id="queryContentDocs" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT *
        FROM (SELECT ROWNUM ROW_NUM, A.*
        FROM (
        select t.*
        from T_CONTENT_DOC t
        where 1=1
        <!-- and t.f_state &lt; 2 -->
        <if test="chanId != null and chanId != '' ">
            AND t.F_CHAN_ID =#{chanId}
        </if>

        order by t.F_SORT_NUM) A)
        WHERE ROW_NUM &gt; #{start}
        AND ROW_NUM &lt;= #{end}
    </select>
    <!-- 统计数量 -->
    <select id="queryContentDocsCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*)
        from T_CONTENT_DOC t
        where 1=1
        <!-- and t.f_state &lt; 2 -->
        <if test="chanId != null and chanId != '' ">
            AND t.F_CHAN_ID =#{chanId}
        </if>
        order by t.F_DOC_ID
    </select>
    <!-- 保存 -->
    <insert id="saveContentDoc" parameterType="com.xwtech.uomp.base.pojo.content.ContentDocBean">
        insert into T_CONTENT_DOC
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="docId != null">
                F_DOC_ID,
            </if>
            <if test="chanId != null">
                F_CHAN_ID,
            </if>
            <if test="type != null">
                F_TYPE,
            </if>
            <if test="title != null">
                F_TITLE,
            </if>
            <if test="showtitle != null">
                F_SHOWTITLE,
            </if>
            <if test="subhead != null">
                F_SUBHEAD,
            </if>
            <if test="author != null">
                F_AUTHOR,
            </if>
            <if test="summary != null">
                F_SUMMARY,
            </if>
            <if test="url != null">
                F_URL,
            </if>
            F_WRITE_TIME,
            <if test="level != null">
                F_LEVEL,
            </if>
            <if test="logo != null">
                F_LOGO,
            </if>
            <if test="versionDesc != null">
                F_VERSION_DESC,
            </if>
            <if test="useDesc != null">
                F_USE_DESC,
            </if>
            <if test="feeStandard != null">
                F_FEE_STANDARD,
            </if>
            <if test="busiName != null">
                F_BUSI_NAME,
            </if>
            <if test="busiNum != null">
                F_BUSI_NUM,
            </if>
            <if test="busiIntro != null">
                F_BUSI_INTRO,
            </if>
            <if test="busiFee != null">
                F_BUSI_FEE,
            </if>
            <if test="busiOldfee != null">
                F_BUSI_OLDFEE,
            </if>
            <if test="bandName != null">
                F_BAND_NAME,
            </if>
            <if test="areaName != null">
                F_AREA_NAME,
            </if>
            <if test="busiUrl != null">
                F_BUSI_URL,
            </if>

            <if test="state != null">
                F_STATE,
            </if>
            <if test="creater != null">
                F_CREATER,
            </if>
            F_CREATE_TIME,
            <if test="updater != null">
                F_UPDATER,
            </if>
            F_UPDATE_TIME,
            <if test="auditor != null">
                F_AUDITOR,
            </if>
            F_AUDIT_TIME,
            <if test="size != null">
                F_SIZE,
            </if>
            <if test="content != null">
                F_CONTENT
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="docId != null">
                #{docId},
            </if>
            <if test="chanId != null">
                #{chanId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="showtitle != null">
                #{showtitle},
            </if>
            <if test="subhead != null">
                #{subhead},
            </if>
            <if test="author != null">
                #{author},
            </if>
            <if test="summary != null">
                #{summary},
            </if>
            <if test="url != null">
                #{url},
            </if>
            SYSDATE,
            <if test="level != null">
                #{level},
            </if>
            <if test="logo != null">
                #{logo},
            </if>
            <if test="versionDesc != null">
                #{versionDesc},
            </if>
            <if test="useDesc != null">
                #{useDesc},
            </if>
            <if test="feeStandard != null">
                #{feeStandard},
            </if>
            <if test="busiName != null">
                #{busiName},
            </if>
            <if test="busiNum != null">
                #{busiNum},
            </if>
            <if test="busiIntro != null">
                #{busiIntro},
            </if>
            <if test="busiFee != null">
                #{busiFee},
            </if>
            <if test="busiOldfee != null">
                #{busiOldfee},
            </if>
            <if test="bandName != null">
                #{bandName},
            </if>
            <if test="areaName != null">
                #{areaName},
            </if>
            <if test="busiUrl != null">
                #{busiUrl},
            </if>

            <if test="state != null">
                #{state},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            SYSDATE,
            <if test="updater != null">
                #{updater},
            </if>
            SYSDATE,
            <if test="auditor != null">
                #{auditor},
            </if>
            SYSDATE,
            <if test="size != null">
                #{size},
            </if>
            <if test="content != null">
                #{content}
            </if>
        </trim>
    </insert>

    <!-- 根据条件返回一条数据 -->
    <select id="queryOneContentDoc" resultMap="ResultMapWithAttach" parameterType="java.util.Map">
  select * from T_CONTENT_DOC
  where    F_DOC_ID =#{docId}       
  </select>

    <update id="updateBydocId" parameterType="com.xwtech.uomp.base.pojo.content.ContentDocBean">
        update T_CONTENT_DOC
         <set>
        <if test="chanId != null ">
            F_CHAN_ID = #{chanId},
        </if>
        <if test="type != null  ">
            F_TYPE = #{type},
        </if>
        <if test="title != null ">
            F_TITLE = #{title},
        </if>
        <if test="showtitle != null ">
            F_SHOWTITLE = #{showtitle},
        </if>
        <if test="subhead != null ">
            F_SUBHEAD = #{subhead},
        </if>
        <if test="author != null ">
            F_AUTHOR = #{author},
        </if>
        <if test="summary != null ">
            F_SUMMARY = #{summary},
        </if>
        <if test="url != null ">
            F_URL = #{url},
        </if>
        <if test="level != null ">
            F_LEVEL = #{level},
        </if>
        <if test="logo != null and logo!='' ">
            F_LOGO = #{logo},
        </if>
        <if test="versionDesc != null ">
            F_VERSION_DESC = #{versionDesc},
        </if>
        <if test="useDesc != null ">
            F_USE_DESC = #{useDesc},
        </if>
        <if test="feeStandard != null ">
            F_FEE_STANDARD = #{feeStandard},
        </if>
        <if test="busiName != null ">
            F_BUSI_NAME = #{busiName},
        </if>
        <if test="busiNum != null ">
            F_BUSI_NUM = #{busiNum},
        </if>
        <if test="busiIntro != null ">
            F_BUSI_INTRO = #{busiIntro},
        </if>
        <if test="busiFee != null ">
            F_BUSI_FEE = #{busiFee},
        </if>
        <if test="busiOldfee != null ">
            F_BUSI_OLDFEE = #{busiOldfee},
        </if>
        <if test="bandName != null ">
            F_BAND_NAME = #{bandName},
        </if>
        <if test="areaName != null ">
            F_AREA_NAME = #{areaName},
        </if>
        <if test="busiUrl != null ">
            F_BUSI_URL = #{busiUrl},
        </if>
        <if test="state != null and state != '' ">
            F_STATE = #{state},
        </if>
        <if test="creater != null ">
            F_CREATER = #{creater},
        </if>
        <if test="updater != null ">
            F_UPDATER = #{updater},
        </if>
        F_UPDATE_TIME = SYSDATE,
        <if test="auditor != null ">
            F_AUDITOR = #{auditor},
        </if>
        <if test="size != null ">
            F_SIZE = #{size},
        </if>
        <if test="content != null ">
            F_CONTENT= #{content}
        </if>
         </set>
        where F_DOC_ID = #{docId}
    </update>

    <update id="updateStateBydocId" parameterType="java.util.Map">
  	update T_CONTENT_DOC
	set F_STATE = #{state}  where F_DOC_ID = #{docId}
  </update>
  <delete id="deleteBydocId" parameterType="java.lang.String">
      DELETE FROM T_CONTENT_DOC WHERE F_DOC_ID = #{docId}
    </delete>
</mapper>