body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:100px;
  width:949px;
  height:413px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:413px;
}
#u1 {
  position:absolute;
  left:2px;
  top:198px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:111px;
  width:200px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
