body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:40px;
  width:192px;
  height:68px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:68px;
}
#u1 {
  position:absolute;
  left:2px;
  top:26px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:55px;
  width:120px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:118px;
  width:870px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:853px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:870px;
  height:1px;
}
#u5 {
  position:absolute;
  left:445px;
  top:189px;
  width:81px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:258px;
  top:215px;
  width:456px;
  height:32px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:32px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:459px;
  top:274px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
