body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:32px;
  width:192px;
  height:68px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:68px;
}
#u1 {
  position:absolute;
  left:2px;
  top:26px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:47px;
  width:120px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:133px;
  width:201px;
  height:16px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:363px;
  top:160px;
  width:100px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:197px;
  width:750px;
  height:562px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:562px;
}
#u9 {
  position:absolute;
  left:2px;
  top:273px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:261px;
  top:160px;
  width:100px;
  height:38px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:352px;
  top:246px;
  width:70px;
  height:16px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:355px;
  top:339px;
  width:66px;
  height:16px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:365px;
  top:293px;
  width:57px;
  height:16px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:381px;
  top:385px;
  width:40px;
  height:16px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:454px;
  top:246px;
  width:29px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:454px;
  top:293px;
  width:29px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:454px;
  top:339px;
  width:29px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:454px;
  top:385px;
  width:29px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:355px;
  top:424px;
  width:588px;
  height:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:390px;
  top:80px;
  width:96px;
  height:34px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:579px;
  top:80px;
  width:96px;
  height:34px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u34 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:674px;
  top:80px;
  width:96px;
  height:34px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:484px;
  top:80px;
  width:96px;
  height:34px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u38 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:45px;
  top:159px;
  width:200px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:104px;
  top:175px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:45px;
  top:208px;
  width:200px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:104px;
  top:223px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:45px;
  top:257px;
  width:200px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:104px;
  top:273px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:45px;
  top:306px;
  width:200px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:104px;
  top:321px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:45px;
  top:355px;
  width:200px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:104px;
  top:371px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:45px;
  top:257px;
  width:200px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:104px;
  top:273px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:208px;
  top:273px;
  width:17px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:20px;
  top:0px;
  width:1000px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:51px;
  top:12px;
  width:92px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:792px;
  top:12px;
  width:53px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:950px;
  top:12px;
  width:27px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:871px;
  top:12px;
  width:53px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:681px;
  top:12px;
  width:88px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
